:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #999999;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: arial;
}

ul {
    font-family: sans-serif;
}

#graph {
    font-family: serif;
}

.thing {
    font-family: monospace;
}

.light-theme {
    --bg: var(--gray);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--gray);
    --btnFontColor: var(--black);
}

.theme-button {
    background: var(--btnBg);
    color: var(--btnFontColor);
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
}

#submit-button {
    background: var(--btnBg);
    color: var(--btnFontColor);
    height: 25px;
    width: 60px;
}
