:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #999999;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: arial;
}

ul {
    font-family: sans-serif;
}

#graph {
    font-family: serif;
}

.chart-holder {
	background-color: var(--white);
	width: 500px;
}

.light-theme {
    --bg: var(--gray);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--gray);
    --btnFontColor: var(--black);
}

#theme-button {
    background: var(--btnBg);
    color: var(--btnFontColor);
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
}

#pool-button {
    background: var(--btnBg);
    color: var(--btnFontColor);
}

#run-button {
    background: var(--btnBg);
    color: var(--btnFontColor);
}

#submit-button {
    background: var(--btnBg);
    color: var(--btnFontColor);
    height: 25px;
    width: 60px;
}

input.checked-invalid:invalid {
	background-color: lightpink;
}
